.form-group {
    .input {
        position: relative;
    }
}
form {
    .send {
        position: absolute;
        top: 30px;
        right: 15px;
    }
}

.image-reposite{
    width: 75px;
    height: 75px;
}
